body{
    width: 375px;
    margin: auto;
    font-family: sans-serif;
}
/* header */
#logo{
    width: 127px;
    height: 33.02px; 
    margin: 16px auto 17px 15px;
    position: absolute;
}

.profile-icon{
    width: 34px;
    height: 34px;
    border: none;
    margin: 16px 16px 17px 325px;
    position: absolute;
}

.container-1{
    width: 375px;
    height: 67px;
    border-bottom: solid 1px#C6C6C6;
    
}

/* second header */

.img-avatar{
    margin-top: auto;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 10px auto auto 10px;
}

#username{
    margin: 13px auto auto 7px;
    position: absolute;
    font-weight: bold;
}

#location{
    margin: 27px auto auto 7px;
}
/* post */

#profile-pic{
    width: 375px;
    height: 375px;
    margin-top: 11px;
}

.container-2{
    margin: 9px 228px auto 10px;
}
/* bottom three buttons */
.likes{
    margin: 11px auto auto 13px;
    font-weight: bold;
}

.comment{
    margin: 12px auto auto 13px;

}

#comment-username{
    font-weight: bold;
}


/* others */
.line{
    border-bottom: solid 1px#C6C6C6;
    margin-bottom: 20px;
    margin-top: 20px;
}
p{
    display: inline;
}

#like-btn{
    background: transparent;
    border:none;
}
#like-btn::after{
    background-image: url("photos/like(1).svg")
    ;
}

#comment-btn{
    background: transparent;
    border:none;
}
#share-btn{
    background: transparent;
    border:none;
}

.red-like{
    content: url("photos/like(1).svg")
    
}
/* .likes */